.crypto__data__display {
    /* color: white; */
    width: auto;
    height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    background-color: white;
    display: grid;
    /* grid-template-columns: 1fr% 1fr% 1fr%; */
    grid-template-rows: auto;
    border-radius: 15px;
    /* background-color: rgb(246, 255, 243); */
    /* background-color: rgb(235, 236, 255); */
    /* background-color: rgb(11, 210, 57); */
    /* border: 7px double black; */
    border: 6px outset white;
}

.crypto__data__display__elements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr fr;
}

.crypto__data__display__name__logo {
    height: 10px;
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.crypto__data__display__image {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 40px;
    width: 40px;
    /* position: absolute; */
}

.crypto__data__display__name {
    grid-column: 2/3;
    grid-row: 1/2;
}

.crypto__data__display__symbol {
    grid-column: 3/4;
    grid-row: 1/2;
    /* background-color: grey; */
}

.favorite__icon {
    /* width: 50px; */
    grid-row: 1/2;
    grid-column: 1/2;
    /* position: relative; */
    font-size: 10px;
    color: black;
    /* background-color: yellow; */
    /* padding-left: 5px; */
    /* margin-right: 10px; */
    /* height: 10px; */
    /* width: 10px; */
    border-radius: 5px;
    ;
}

.crypto__data__display__rank {
    grid-row: 2/3;
    grid-column: 1/2;
}

.crypto__data__display__numerical__data {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 2/3;
    grid-row: 1/2;
}

.crypto__data__display__current__price {
    font-size: 20px;
    font-weight: bold;
}

.crypto__data__display__24h__percentage__change {
    margin: 5px;
    padding: 5px;
    font-size: 10px;
    color: white;
    border-radius: 10px;
    /* background-color: grey; */
}

.crypto__data__display__chart {
    margin-top: 5%;
    grid-row: 2/3;
    grid-column: 1/4;
}

.crypto__data__display__description {
    grid-column: 1/5;
    grid-row: 3/4;
    border: 2px solid grey;
    text-align: left;
    margin-top: 5%;
    padding: 2%;
}