.crypto__data__display__currency__converter {
    margin: 0px;
    border: 0px solid grey;
    grid-column: 3/4;
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    /* background-color: white; */
    /* border: 7px double black; */
    border: 6px outset white;
    /* background-color: rgba(2, 28, 50, 0.566); */
    background-color: rgba(213, 174, 253, 0.463);
}

.base__currency__input {
    width: 120px;
}

.base__currency__dropdown {
    width: 60px;
}

.quote__currency__input {
    width: 120px
}

.quote__currency__dropdown {
    width: 60px;
}