.search__length {
    color: white;
    /* margin: 5%; */
    /* margin-left: 10%; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 20px;
}

.search__element {
    padding-top: 10px;
    width: 100px;
}

.search__input {
    width: 450px;
    height: 30px;
}